@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test Setting: @Html.DisplayFor(model => model.TestSetting)</p>
</div>
