@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<div class="text-center">
    <p>ApplicationInsightsInstrumentationKey: @Html.DisplayFor(model => model.ApplicationInsightsInstrumentationKey)</p>
</div>
