@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Logging Level: @Html.DisplayFor(model => model.LoggingLevel)</p>
    <p>Allowed Hosts: @Html.DisplayFor(model => model.AllowedHosts)</p>
</div>
